/*!CK:881908170!*//*1394416104,178142495*/

.fbProfileByline{width:493px;margin-top:4px;line-height:15px}
.fbProfileBylineFragment,
.fbProfileNonIconBylineFragment{margin-right:8px;color:#666}
.fbProfileBylineIcon{margin-bottom:1px;margin-top:1px;vertical-align:bottom}
.fbProfileLoggedOutByline{width:493px;margin-top:1px;line-height:14px}
.fbLongBlurb{margin-right:8px;color:#666;padding-bottom:3px}
.fbProfileBylineContextual .inferenceSource{text-align:center;margin-top:10px}
.fbProfileBylineContextual .typeahead{width:300px}
.pagesTimelineButtonPagelet{background-color:#e7ebf2;border-bottom:1px solid #c8d1e2;min-width:122px;padding:13px 0 12px 1px;top:38px;z-index:4}
.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:89px}
.fbTimelineWideRightCol .pagesTimelineButtonPagelet{min-width:244px}
body.hasVoiceBar .pagesTimelineButtonPagelet{top:64px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineButtonPagelet{top:115px}
.pagesTimelineRightColumn .fbTimelineScrubber{top:87px}
.hasPagesManagerNavbar .pagesTimelineRightColumn .fbTimelineScrubber{top:138px}
body.hasVoiceBar .pagesTimelineRightColumn .fbTimelineScrubber{top:113px}
body.hasVoiceBar.hasPagesManagerNavbar .pagesTimelineRightColumn
.fbTimelineScrubber{top:164px}
#createPageButton .img{top:3px}
#createPageButton{padding-left:6px}
#profile_minifeed .reportHide{display:none}
.fbProfileStream .uiStreamMessage .passiveName{font-weight:normal}
.fbProfileStream .uiStreamMessage a.passiveName{font-weight:bold}
.sp_2p7iu7{background-image:url(/rsrc.php/v2/yg/r/0EDs4dJt2Ad.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_9f18df{background-position:0 0}
.sx_96df30{background-position:0 -14px}
.sx_6516ac{background-position:0 -28px}
.sp_5eou5v{background-image:url(/rsrc.php/v2/y2/r/pbZydPNWdlt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_b9c25f{width:8px;height:8px;background-position:-15px -168px}
.sx_78cc8a{width:12px;height:12px;background-position:-12px -33px}
.selected .sx_78cc8a{background-position:0 -33px}
.sx_079ed7{width:12px;height:12px;background-position:-12px -46px}
.selected .sx_079ed7{background-position:0 -46px}
.sx_9ef278{width:12px;height:12px;background-position:0 -192px}
.sx_9b4ea5{width:12px;height:12px;background-position:0 -205px}
.sx_8e0b7a{background-position:0 -77px}
.sx_23f51b{background-position:0 -94px}
.sx_a22bb4{background-position:0 -111px}
.sx_9d0d92{width:23px;height:32px;background-position:0 0}
.sx_4f7705{width:9px;height:5px;background-position:-15px -162px}
.sx_eb865c{background-position:0 -128px}
.sx_0f94e1{width:14px;height:14px;background-position:0 -162px}
.sx_952190{width:14px;height:14px;background-position:0 -177px}
.sx_faeae9{width:13px;height:17px;background-position:0 -59px}
.sx_de3d51{background-position:0 -145px}
.sx_12e4d4{width:5px;height:7px;background-position:-18px -192px}
.selected .sx_12e4d4{background-position:-13px -192px}
.sx_eb02cc{width:8px;height:12px;background-position:-14px -59px}
.sp_82j0y8{background-image:url(/rsrc.php/v2/yn/r/1MpKeMp2Rn7.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:11px;width:12px}
.sx_4b9eec{width:11px;background-position:0 -12px}
.sx_f4458d{background-position:0 0}
._4-rr{display:inline-block}
._4-rr ._4-rs + ._4-rs{margin-left:-1px}
._4-rt{position:relative;z-index:1}
._4-ru{position:relative;z-index:2}
._4-rs._42fr{position:static}
._4-rr ._4-rs{-webkit-border-radius:0}
._4-rv ._4-rs:first-child{-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px}
._4-rv ._4-rs:last-child{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px}
.uiInfoTable{border:0;border-collapse:collapse;border-spacing:0;width:100%}
.uiInfoTableFixed{table-layout:fixed}
.uiInfoTable .spacer td{padding:5px 0}
.noBorder .spacer td{padding:0;visibility:hidden}
.uiInfoTable .label,
.uiInfoTable .data,
.uiInfoTable .rightCol{padding:3px 0 1px 0;text-align:left;vertical-align:top}
.uiInfoTable .dataRow .data,
.uiInfoTable .dataRow .rightCol{padding-top:5px}
.uiInfoTable .data > input,
.uiInfoTable .data > label input,
.uiInfoTable .rightCol > input,
.uiInfoTable .rightCol > label input{margin-left:0}
.uiInfoTable .label{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px}
.uiInfoTable .dataRow .label{padding-top:8px}
.uiInfoTable .label .annotation{color:#999}
.uiInfoTable .rightCol{padding:0 0 0 20px;width:225px}
.uiToolbarBordered{margin:0 -7px;padding:6px 7px 6px 1px}
.uiToolbar .uiToolbarItem{float:left;margin-left:6px;vertical-align:top}
.uiToolbarUnbordered .uiToolbarItem:first-child{margin-left:0}
.uiToolbar .uiToolbarDivider{background:#d6d6d6;height:23px;width:1px}

#bootloader__XXwh { height: 42px; }
.bootloader__XXwh { display:block !important; }