/*!CK:3561490053!*//*1394367858,178171215*/

.music_artwork{background-position:center center;background-repeat:no-repeat;display:block}
.art_border{position:relative}
.art_border:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.music_play_button{outline:none}
.button_anchor{display:inline-block}
.button_anchor .music_button_img{display:inline-block;width:14px;height:14px;background-repeat:no-repeat;vertical-align:middle}
.music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -251px}
.button_anchor:hover .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -266px}
.button_anchor:active .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -281px}
.music_playing .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -311px}
.music_playing .button_anchor:hover .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -326px}
.music_playing .button_anchor:active .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -341px}
.music_disabled .music_button_img, .music_disabled .button_anchor:active .music_button_img, .music_disabled .button_anchor:hover .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -296px}
.music_loading .button_anchor:active .music_button_img, .music_loading .button_anchor:hover .music_button_img, .music_loading .button_anchor .music_button_img{background-position:0 0;background-image:url(/rsrc.php/v2/yh/r/LxbLBWWUI55.gif)}
.artwork_button .button_anchor{display:block;position:relative;overflow:hidden}
.music_button_img_wrap{position:absolute;top:50%;left:50%}
.music_show_on_hover .music_button_img_wrap{opacity:0;-webkit-transition:opacity .10s ease-out}
.music_button_trigger_group .music_playing .music_button_img_wrap, .music_button_trigger_group .music_loading .music_button_img_wrap, .music_button_trigger_group.music_playing .music_button_img_wrap, .music_button_trigger_group.music_loading .music_button_img_wrap, .music_button_trigger_group:hover .music_button_img_wrap{opacity:1;-webkit-transition-duration:0}
.artwork_button .music_button_img_wrap .music_button_img{display:block;position:relative;margin-top:-50%;left:-50%}
.music_disabled.artwork_button .music_button_img_wrap .music_button_img, .artwork_button .music_button_img_wrap .music_loader{display:none}
.music_loading .artwork_button .music_button_img_wrap
.music_button_img.music_loader{margin-top:-100%;display:block}
.button_large.artwork_button .button_anchor .music_button_img{width:50px;height:50px}
.button_large.artwork_button .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.button_large.artwork_button .button_anchor:active .music_button_img, .button_large.artwork_button .button_anchor:hover .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -50px}
.music_playing .button_large.artwork_button .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -100px}
.music_playing .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_playing .button_large.artwork_button .button_anchor:active
.music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -150px}
.music_loading .button_large.artwork_button .button_anchor:active
.music_button_img, .music_loading .button_large.artwork_button .button_anchor:hover
.music_button_img, .music_loading .button_large.artwork_button .music_button_img{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-repeat:no-repeat;background-size:auto;background-position:0 -200px}
.music_loading .button_large.artwork_button .music_button_img_wrap
.music_button_img.music_loader{background:url(/rsrc.php/v2/y7/r/BZSS7yGugLV.gif) 50% no-repeat}
.pages_play_button .button_anchor .music_button_img{vertical-align:top;margin-top:3px}
.pages_play_button{display:inline}
._5kxd{background:#f6f7f8;border:1px solid #d1d2d5;-webkit-border-radius:3px;clear:left}
._5kxe{background:#fff;font-size:12px;padding:30px;text-align:center}
._51nc{margin:0 -12px}
.timelineRecentActivityStories{margin:-4px 0 -12px 0}
.recentActivityContainer .recentActivityUnit .timelineReportHeader{background:#f1f1f1;border-bottom:1px solid #d3d3d3;font-size:11px;font-weight:normal;margin:-12px -12px 7px;padding:5px 0 5px 12px}
.recentActivityContainer div.timelineRecentActivityPagerWrapper{margin:0 -12px}
.recentActivityContainer .timelineRecentActivityPagerWrapper a.timelineRecentActivityPager, .recentActivityContainer .timelineRecentActivityPagerWrapper .uiMorePagerLoader{border:none;padding:9px 5px 8px}
.fbTimelineUnit .ogItemHide{float:right;opacity:0}
.ogListItem:hover .ogItemHide{opacity:1}
.recentActivityContainer .recentActivityUnit .timelineRecentActivityLightHeader{margin:-15px -15px 4px}
.timelineRecentActivityStory{margin:0 -12px}
.timelineRecentActivityStory::after{background:#000;content:'';display:block;height:1px;margin-top:-1px;opacity:.1}
.timelineRecentActivityStory:hover{background:#edeff4}
.timelineRecentActivityThumb{background:#f6f7f9}
.fbTimelineRecentActivityThumbWrap{height:58px;overflow:hidden;position:absolute;width:98px}
.timelineRecentActivityStory .fbTimelineRecentActivityAppWrap{bottom:2px;position:absolute;left:4px}
.timelineRecentActivityStory .fbTimelineRecentActivityAppWrapText{bottom:0;left:0;padding:8px 3px 4px}
.timelineRecentActivityStory:hover .fbTimelineRecentActivityAppWrapText{background:url(/rsrc.php/v2/y7/r/4haj41DucMJ.png) repeat-x bottom left}
.fbTimelineRecentActivityAppWrap .overlayAppName{color:#fff;display:inline-block;text-shadow:0 0 5px #000;width:71px}
.fbTimelineRecentActivityAppWrap:hover .overlayAppName{text-decoration:underline}
.timelineRecentActivityTextBlock{min-height:58px;padding:0 12px 0 8px;margin-left:98px;position:relative;width:284px}
.timelineRecentActivityStory .cutoffActionListItems{visibility:hidden}
.timelineRecentActivityStory:hover .cutoffActionListItems, .timelineRecentActivityStory .cutoffActionListItems .openToggler{visibility:visible}
.timelineRecentActivityTextBlock .timelineRecentActivityHideSelector{position:absolute;right:0;top:0;visibility:visible}
.timelineRecentActivityStory .timelineRecentActivityHideSelector .uiSelectorButton{opacity:0}
.timelineRecentActivityStory:hover .timelineRecentActivityHideSelector .uiSelectorButton, .timelineRecentActivityStory .timelineRecentActivityHideSelector .uiSelectorButton:focus, .timelineRecentActivityStory .timelineRecentActivityHideSelector .openToggler .uiSelectorButton{opacity:1}
.timelineRecentActivityStory .timelineRecentActivityStoryFooter{color:#999;line-height:1.8}
.timelineRecentActivityStory .recentActivityUFI{margin:0 -10px 0 0;width:282px}
.timelineRecentActivityStory .storyPrivacy{left:2px;position:relative;top:-1px}
.timelineRecentActivityStory .uiStreamPrivacy{left:5px;top:3px}
.recentActivityContainer .timelineRecentActivityStories .timelineRecentActivityStory .onlyMeBorder{background-position:0 7px;margin:0}
.recentActivityContainer .timelineRecentActivityStories .timelineRecentActivityStory .onlyMeBorderBottom{background-position:0 -8px;margin-bottom:1px}
.timelineReportCol{display:inline-block;vertical-align:middle}
.timelineReportCol.titleWithSubtitle{height:32px;margin-bottom:-1px}
.timelineReportCol .img{display:block;margin:0 auto;vertical-align:middle}
.timelineReportContainer .timelineReportHeader{background-color:#f1f1f1;color:#555;font-size:11px;font-weight:normal;margin:0 3px;padding:5px 0 5px 12px}
.timelineReportHeader .date, .timelineReportHeader .date a{color:gray;font-weight:normal}
.timelineReportHeader .icon{margin-right:5px;text-align:center;line-height:16px}
.timelineReportHeader .logo{line-height:32px;margin-right:8px}
.timelineReportHeader .title{max-width:300px;word-wrap:break-word;color:#3b5998}
.timelineReportContainer .repositionButton{visibility:hidden}
.timelineReportContainer:hover .repositionButton{visibility:visible}
.sp_7ymym3{background-image:url(/rsrc.php/v2/yU/r/cZqv01pyABe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:23px;width:24px}
.sx_24474d{width:50px;height:250px;background-position:0 0}
.sx_d0a7c1{width:14px;height:104px;background-position:0 -251px}
.sx_56e999{background-position:-15px -251px}
.sx_4f638c{width:46px;height:42px;background-position:0 -356px}
.sx_955c17{background-position:-15px -275px}
._3t4o{margin-bottom:4px;margin-top:-4px}

#bootloader_FJJQ3 { height: 42px; }
.bootloader_FJJQ3 { display:block !important; }