/*!CK:2231645852!*//*1394439927,178141991*/

.sp_67zvz5{background-image:url(/rsrc.php/v2/yj/r/Mt4a4fKeK-0.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:16px}
.sx_082407{width:11px;height:11px;background-position:-17px -46px}
.sx_bc3508{height:17px;background-position:0 -46px}
.sx_2d26ae{height:16px;background-position:0 -64px}
.sx_ea2682{width:12px;height:11px;background-position:-19px -33px}
.sx_089d63{width:32px;height:32px;background-position:0 0}
.sx_df8328{width:9px;background-position:-9px -33px}
.selected .sx_df8328{background-position:0 -33px}
.sx_d60a29{width:8px;background-position:-8px -81px}
.selected .sx_d60a29{background-position:0 -81px}

#bootloader_oYUJg { height: 42px; }
.bootloader_oYUJg { display:block !important; }