/*!CK:1523695063!*//*1394617223,178183447*/

._14jf{margin-bottom:auto;margin-left:auto;margin-right:auto;margin-top:auto;width:266px}
._3w9_{position:relative}
._5xyc{height:45px;margin-top:5px}
._5jy-{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._5grv{cursor:pointer}
._5jz0{height:10px}
._5jz1{margin:0 10px}
._5jz2{font-weight:bold}
._5jz3{font-size:11px;width:85px}
._5jz4{background-image:url(/rsrc.php/v2/yN/r/C3vxWRAjMNq.png);background-repeat:no-repeat;background-size:auto;background-position:right -153px;padding:2px 20px 0 0}
._5jz5{text-align:center}
._5jz6{padding-bottom:15px;padding-top:15px;text-align:center}
._5jz7{font-size:14px;font-weight:bold}
._68l{margin:0 15px}
._68l.firstElem{padding-top:15px}
._68m{color:#888;font-size:11px;height:17px;width:100px}
._68m.withMargin{margin:4px 0}
._68n{font-size:14px;font-weight:bold;width:80px}
#globalContainer #fanAcquisitionPanelBudgetBodyConfirmButton{float:right;font-size:13px;height:23px;margin:15px 10px}
#globalContainer #fanAcquisitionPanelBudgetBodyConfirmButton span{display:inline-block;max-width:192px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
._5b0z{display:inline-block;max-width:155px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
._2emj{padding-bottom:60px;padding-top:60px;text-align:center}
._5t2-{bottom:5px;left:1px;position:absolute;right:0;text-align:center;z-index:1}
._c6l{height:160px;padding-bottom:0}
._csd{float:right}
._cse{height:130px}
._csf{text-align:center}
._5tew{font-weight:bold}
._5og2{text-align:center}
._5fmp{background-color:#edeff4;border:1px solid #4c66a4;height:131px;padding:10px}
._5og3{font-size:11px}
._5fmr{text-align:center}
._5fms{margin:5px 0 5px 0}
._5fmt{height:14px;margin-top:8px}
._4zsk{color:#878787;font-weight:bold;padding-bottom:9px}
._5xyd{max-width:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4-xc{background:url(/rsrc.php/v2/yW/r/UaiDUgTVOv3.png) no-repeat -18px 0;cursor:pointer;display:inline-block;height:18px;margin:-3px 0 -5px 0;outline:none;text-indent:-9999px;width:18px}
._4pr8{height:135px;padding:4px 4px 0 4px}
._4pr8 ._5t2-{bottom:0;margin-top:2px;position:relative}
._4pr8 ._5xyc{height:32px;margin-top:0}
._1mox{margin-left:auto;margin-right:auto;margin-top:10px}
._4-xc:hover{background-position:0 0;opacity:1}
#globalContainer #fanAcquisitionPanelFirstStatsRow{padding-bottom:0}
#globalContainer #fanAcquisitionPanelPreviewBodyConfirmButton{font-size:12px;height:26px;width:202px}
#globalContainer #fanAcquisitionPanelPreviewBodyConfirmButton span{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:inherit}
.fbBoostedPost{outline:none}
.uiPopover.selected .uiPopoverButton.fbBoostedPostPopoverButton{border-bottom-color:#3b5998}
.fbBoostedPostPopoverButton.uiPopoverTriggerElem{display:inline-block}
.fbBoostedPostPopoverButton .uiButtonText{color:#3b5998;font-weight:normal}
.fbBoostedPostPopoverButton:hover .uiButtonText{color:#333}
.openToggler .fbBoostedPostPopoverButton:hover .uiButtonText{color:#fff}
.promotedPostFlyoutContainer{background-color:#fff;border:1px solid #777;border-bottom:2px solid #293e6a;position:relative;top:-1px;width:340px}
.promotedPostFlyoutContainer.discountedFlyout{width:450px}
.promotedPostFlyoutContainer.flyoutThrobber{width:auto}
.uiContextualLayerAboveLeft .promotedPostFlyoutContainer, .uiContextualLayerAboveRight .promotedPostFlyoutContainer{border-bottom:1px solid #293e6a;top:1px}
.promotedPostFlyoutFooter{padding:6px 7px 6px 8px}
.promotedPostFlyoutContainer .moreOptionsLink{display:block}
.editBudget .budgetEditDescriptionString{float:left;margin-right:6px}
.editBudget .budgetValue{display:none}
.editBudgetButton{margin-top:-4px}
.promotedPostUpsellHeader{padding:15px}
.editCallToAction{font-size:14px}
a.promotedPostButton.uiPopoverButtonWithChevron, a.promotedPostButton.uiPopoverButtonWithChevron:hover{background-image:url(/rsrc.php/v2/yN/r/C3vxWRAjMNq.png);background-repeat:no-repeat;background-size:auto;background-position:right -153px;border-color:#c4cde0}
.promotedPostButton .uiButtonText{color:#3b5998;font-weight:normal}
.promotedPostButton img.uiButtonIcon, .promotedPostButton i.uiButtonIcon{vertical-align:middle}
.budgetValueReach{line-height:2.5ex;max-height:5ex;overflow:hidden;text-overflow:ellipsis}
.budgetReachInfo{color:gray}
.fbBoostedPostAlertText + .fbBoostedPostAlertText{margin-top:5px}
.insightsBar{margin:15px -12px -12px 0}
.insightsBar .reachStats{display:inline-block;padding:4px 0}
.insightsBar .boostUnavailableLink{padding-right:5px;text-decoration:none;visibility:hidden}
.insightsBar:hover .boostUnavailableLink{visibility:visible}
._zg{position:relative}
._y9{display:block;white-space:nowrap}
._1dsu{padding-top:3px;vertical-align:top}
._y8{color:#b0b0b0;display:inline-block;max-width:85px;overflow:hidden;text-overflow:ellipsis}
._1dsf ._y8{color:#6b7eab}
._1dsf ._1dst{background-image:url(/rsrc.php/v2/yj/r/nmFtIb0G2fC.png);background-repeat:no-repeat;background-size:auto;background-position:-210px -317px}
._1dst{background-image:url(/rsrc.php/v2/yj/r/nmFtIb0G2fC.png);background-repeat:no-repeat;background-size:auto;background-position:-180px -317px;display:inline-block;height:30px;outline:none;vertical-align:top;width:29px}
._y7{padding-right:15px}
._y7 ._1dst{width:23px}
.highContrast ._1dst{width:auto}
html ._4_z3{display:none;left:-9999px;position:absolute;top:9px}
._y7 ._4_z3{display:inline-block}
._y7 ._4_z3:focus, ._y7:hover ._4_z3{left:auto;right:2px}
._97_{vertical-align:bottom}
._980{padding:5px 3px}
._982 .uiIconText{display:block;padding:6px 7px}
._982{font-size:13px;font-weight:bold}
html ._982 .img{margin-right:5px;position:relative}
._982:hover{background-color:#e7ebf2}
a._983{border-style:none;margin-top:3px;padding:0}
._982 ._53_n{color:#b2b2b2}
._982 ._53_o:hover{background-color:#fff}
._982 ._53_n a{margin-left:5px}
._982._5oz6 ._9lb{padding:0 0 0 5px}
.fbGlossaryTip{position:relative}
.fbGlossaryTip:hover{text-decoration:none}
.fbGlossaryTip sup{padding-left:1px;font-weight:bold}
.fbGlossaryTipFixedWidth .tipTitle, .fbGlossaryTipFixedWidth .tipBody{line-height:15px;width:250px;white-space:normal !important}
.fbGlossaryTip .tip{bottom:100%;display:none;padding:0 0 7px;position:absolute;text-align:left;z-index:301}
.fbGlossaryTipQ .tip{left:-10px}
.fbGlossaryTip:hover .tip{display:block}
.fbGlossaryTip .noTitle{border-top:solid 1px #888}
.fbGlossaryTip .tipTitle{background-color:#5f78ab;border:solid 1px #28447e;border-bottom:none;color:#fff !important;font-weight:bold;display:block;left:0;padding:3px 8px 4px;white-space:nowrap}
.fbGlossaryTip .tipBody{background-color:#fff;border:solid 1px #999;border-top:none;border-bottom:solid 1px #888;color:#666 !important;font-weight:normal;display:block;left:0;padding:4px 8px 6px;white-space:nowrap;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.fbGlossaryTip .tipArrow{position:absolute;bottom:3px;left:10px;width:7px;height:5px;background-image:url(/rsrc.php/v2/yZ/r/NBSRlkQidlS.png);background-repeat:no-repeat}
.fbGlossaryTip .bottom{bottom:auto;top:100%;padding:4px 0 0}
.fbGlossaryTip .bottom .tipArrow{bottom:auto;top:0;background-image:url(/rsrc.php/v2/yZ/r/5r_0VppF7_J.png)}
.fbGlossaryTip .right{left:auto;right:0}
.fbGlossaryTipQ .right{right:-11px}
.fbGlossaryTip .right .tipArrow{left:auto;right:10px}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}
._h5y{height:137px;overflow:hidden}
._7lj{height:155px;position:relative;top:-11px;width:370px}
._7m4{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}
._7m5{z-index:4}
._7lh{display:none}
._53ih ._7lh{border-left:1px solid rgba(0, 0, 0, .25);border-top:1px solid rgba(0, 0, 0, .25);display:block;height:15px;overflow:hidden;position:absolute;top:0;width:15px}
._7lh ._7lj{top:0}
._53ih ._7lh, ._53ih ._7lh ._7lj{-webkit-transform-origin:0 0}
._7lf._53ih ._7lh, ._7lf._53ih ._7lh ._7lj{-webkit-transform-origin:100% 0}
._4-7n ._572u{-webkit-border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:2px;margin:0;padding:6px 7px 6px 8px}
._4-7n._157k ._53ik ._53io{background-image:url(/rsrc.php/v2/yJ/r/wIw5K4fTMM_.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._4-7n ._h5y{-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px}
._56g4{background-color:#f6fff4;border:1px solid #c4cde0;float:left;width:210px}
._56g5{margin-left:-12px}
._56g6{margin-left:-10px}
._56g7{line-height:20px;width:210px}
.threadRow .snippet{max-width:430px;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap}
.threadRow .snippet .indicator, #fbMessagesItemList .snippet .indicator{vertical-align:middle}
div.adminPanelPagelet ._548i{width:539px}
div.adminPanelCombinedColumn ._548i{width:808px}
div.adminPanelPagelet ._548i.uiDataTable
th:first-child{border-left:1px solid #999;width:30px}
div.adminPanelPagelet ._548i.uiDataTable th{border-top:none;white-space:normal}
div.adminPanelPagelet ._548i.uiDataTable
th.lastColumn{border-right:none}
div.adminPanelPagelet ._548i.uiDataTable .firstRow{border-left:none}
div.adminPanelPagelet ._548i.uiDataTable .lastRow{border-right:none}
div._51gc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:200px}
th._51gd{width:200px}
.adminPanelCombinedColumn div._51gc, .adminPanelCombinedColumn th._51gd{width:350px}
div.adminPanelPagelet .uiDataTable ._59ip td{background-color:#fff8b7}
._51ge{text-align:center}
._51ge .fbGlossaryTip .tip{text-align:left}
._548i .fbGlossaryTip .bottom .tipArrow{top:4px}
._548i .fbGlossaryTip .bottom{padding-top:8px}
#admin_panel{background:#fff;border:1px solid #c4cde0;border-top:none;padding-bottom:5px;padding-top:7px;position:relative;width:809px;z-index:5}
#admin_panel .uiHeaderPage{padding-bottom:6px}
.admin_panel_loading{text-align:center}
.admin_panel_loading .img{margin-top:180px}
#admin_panel .uiHeaderSection{background:#f2f2f2;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding:5px 10px}
#admin_panel .uiHeaderSectionBorderLeft{border-left:1px solid #ccc}
#admin_panel .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#admin_panel .createpost{margin-top:2px}
#admin_panel .uiSideNavCountInline{background-color:#f03d25;border:1px solid #c0311e;color:#fff;font-size:9px;line-height:normal;padding:0 2px}
.adminPanelModule{display:inline-block;vertical-align:top}
#admin_panel_body{margin-top:10px;min-height:430px;overflow:hidden}
.adminPanelNotifColumn{width:539px}
.adminPanelCombinedColumn{width:808px}
.adminPanelLikesColumn{width:226px}
.adminPanelInsightsColumn{width:312px}
.adminPanelMessagesColumn, #admin_panel #AdminTip{width:269px}
.adminPanelBorderRight{border-right:1px solid #ccc}
.adminPanelContentTall{border-left:1px solid #ccc;border-right:1px solid #ccc;min-height:205px}
.adminPanelContent, #admin_panel .AdminTipContent{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;min-height:162px}
#admin_panel .adminPanelContentFanAcq{border-bottom:1px solid #ccc;border-left:1px solid #ccc;height:152px;padding:5px;position:relative}
.adminPanelBlankStateImage{height:84px;margin:24px 15px 33px;width:84px}
#admin_panel .AdminTipImageWrap{height:141px;padding-top:12px;text-align:center;width:115px}
.adminPanelBlankStateText, #admin_panel .AdminTipBody{padding:10px 10px 5px 0}
.adminPanelVisibilityButtonGroup{vertical-align:bottom}
.adminPanelVisibilityButtonGroup .counter{margin-top:3px;padding:0 1px}
.adminPanelActionListActiveButton{color:#000;pointer-events:none}
.adminPanelScheduledPostsRoot{border-bottom:solid 1px #a6a6a6;width:539px}
.adminPanelScheduledPostsGrid{margin:7px}
.adminPanelScheduledPostsIcon{border-right:solid 1px #fbfbfb;padding:4px 8px 4px 7px}
.adminPanelScheduledPostsText{padding:4px 8px 4px 7px}
#admin_panel_messages .adminPanelContent{overflow:hidden}
.adminPanelList li{border-bottom:1px solid #e9e9e9;border-left:1px solid #ccc;cursor:pointer;padding:0}
.adminPanelList li.jewelItemNew{background:rgb(237, 239, 245, .98);background-color:#eeeff4;border-bottom:1px solid #d1d8e7;border-right:1px solid #ccc}
.adminPanelList li.jewelItemNew:hover{background-color:#e7ebf2;border-color:#d1d8e7}
#admin_panel_notifications .notif_x_div, #admin_panel_notifications .confirmingMsg{display:none}
.adminPanelList li a{color:#333;display:block;padding:4px 5px 4px 10px;text-decoration:none}
.adminPanelList li:hover, .adminPanelList li:active, .adminPanelList li:focus{background-color:#f4f6f9;border-color:#e3e8f0;outline:none;text-decoration:none}
.adminPanelList .notif_block .img{height:32px;margin-right:8px;width:32px}
.adminPanelList .author, .adminPanelList .preview, .adminPanelList .info div{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adminPanelList .author, #admin_panel_notifications .blueName{color:#000;font-weight:bold}
#admin_panel_messages .subject{color:#333}
#admin_panel_messages .time, #admin_panel_notifications .timestamp{color:#9d9d9d;font-size:11px;padding-top:0}
#admin_panel_messages .snippet{width:210px}
#admin_panel_messages .adminPanelCombinedColumn .snippet{width:749px}
#admin_panel_messages .snippet .indicator{vertical-align:middle}
#admin_panel_notifications .info .img{display:none}
.AdminTipContent{overflow:hidden}
.AdminTipBody{overflow:hidden}
.AdminTipImageWrap{display:inline-block;float:left}
._58og ._582o{height:450px;padding:0}
._58og ._58oh{background-color:#fafafa;height:410px;overflow-x:hidden;overflow-y:auto;position:relative}
._58og ._582p{-webkit-box-shadow:0 -3px 4px -3px rgba(0,0,0,0.3) inset, 0 3px 4px -3px rgba(0,0,0,0.2) inset;color:#898f9c;font-size:14px;line-height:40px}
._58og ._582p div.uiTypeahead, ._58og ._582p div.wrap{background-color:transparent;border:none;width:510px}
._58og ._582p div.wrap{padding-left:40px;top:0}
._58og ._58oi{float:left;padding-left:14px;padding-top:12px}
._58og ._582p input{color:gray;font-size:14px}
._58og ul{margin:0 0}
._58og ._58oe li:first-child{padding-top:0}
._58og ._582q{-webkit-box-shadow:0 1px 2px -1px rgba(0,0,0,0.3) inset;color:#d3d3d3;font-size:12px;font-weight:bold;line-height:12px;padding-bottom:4px;padding-top:8px;text-align:center}
._58og ._5a8u{background-color:#f5f6f7;border-top:1px solid #e9eaed}
._58og ._5a8u .uiBoxGray{border:none;padding:6px 0}
._58og ._5a8u .uiOverlayFooterMessage{color:#898f9c;padding-right:2px;text-align:right}
._58og ._5a8u .uiProgressBar{padding-right:10px;width:100%}
._5un6{padding:70px 140px}
#admin_panel_insights ._28yz{border-left:none;border-right:none;height:163px;overflow:hidden}
._28yz .leaderboard{width:312px}
._28yz .leaderboard td{border-bottom:1px solid #ddd;color:gray;font-size:11px;height:36px;padding:2px}
.adminPanelContent .leaderboard td._5lu4{border-bottom:none}
.adminPanelContent .leaderboard td._59gi{background-color:#f4f6f9}
.adminPanelContent .leaderboard td._59gi td{border:none;padding:0 4px 0 8px}
.adminPanelContent .leaderboard td._542v{font-size:16px;text-align:center;width:20px}
.adminPanelContent .leaderboard td._542w{color:#ccc;text-align:right}
.adminPanelContent .leaderboard td._556g{color:#ccc;padding-right:9px}
.adminPanelContent .leaderboard td._556g img{margin-bottom:2px}
.adminPanelContent .leaderboard td._542x{color:#dd4b39}
.adminPanelContent .leaderboard td._542y{color:#4fc833}
.adminPanelContent .leaderboard td._542z{background-color:#f4f6f9}
.adminPanelContent ._5rql{height:80px;overflow-y:scroll}
.adminPanelContent ._5rqm{height:105px;overflow:hidden;text-overflow:ellipsis;width:183px}
._5umz ._5umy{overflow-x:hidden;overflow-y:auto;position:relative}
._5umx{margin-left:-3px;padding-right:12px;padding-top:8px}
._5ums{height:32px}
li._5umr{border-bottom:1px solid #f2f2f2;height:32px;list-style:none;overflow:hidden;padding:3px 0;padding-left:12px}
._5umy li:hover{background-color:#e7ebf2}
._5umu{font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
a._5umu{color:#3b5998;cursor:pointer;text-decoration:none}
._5umt{position:relative}
._5umt img{height:32px;width:32px}
._5umw{padding:3px 9px 0 3px}
._5umv{color:gray}
._5039{border-bottom:1px solid #f2f2f2;padding:10px 5px}
.pagesTimelinePinpost .pagesPinpostImage{position:absolute;right:12px;top:-4px}
.pagesTimelinePinpost .fbTimelineCurationControl{top:23px}
._559j{left:0;position:absolute;top:0}
._4iae{display:inline-block;line-height:0;position:relative}
._4iae._4iaf{cursor:pointer}
._4iag ._5xoz{padding-right:1px}
._4iah ._5xoz{padding-right:2px}
._4iai ._5xoz{padding-left:1px;padding-right:2px}
._4iaj ._5xoz{padding-left:1px;padding-right:3px}
._4iak ._5xoz{padding-left:2px;padding-right:3px}
._4iae ._5xoz._5xo-{padding-left:0}
._4iae ._5xoz._4ial{padding-right:0}
._590f{margin-bottom:-1px;margin-top:-3px}
._5pkq{margin-bottom:-1px;margin-top:2px}
._590g{display:inline-block;margin-right:10px;position:relative;top:3px}
._5v3s{display:inline-block;font-size:11px;line-height:16px;margin-right:16px;vertical-align:middle}
._5v3t{background-color:#333;display:inline-block;height:12px;margin:2px 0;vertical-align:middle}
._5v3u{border-right:1px solid #333;margin-right:16px;padding-right:16px;text-align:center;width:60px}
._5v3v{font-size:40px;font-weight:bold}
._5v3w{vertical-align:middle}
._5v3x{margin:3px}
._5vs1{color:#898f9c;display:inline-block;font-size:10px;line-height:16px;margin-left:8px;vertical-align:middle}
._5wfv{font-size:11px;font-weight:normal;margin-left:5px;position:relative;top:-4px}
._27ny ._5wfv{color:#898f9c}
._27nz ._5wfv{color:#fff}
._27n- ._5wfv{color:#7f7f7f}
._2h6i{color:#898f9c;margin-left:3px;position:relative;top:-4px}
._559n{border:none;-webkit-box-sizing:border-box;display:block;font-size:12px;padding:4px 0 0;width:100%}
.finch ._559n{font-size:14px}
._559n:focus{outline:none}
._559o{float:right;margin:6px;overflow:visible;padding:4px}
._55a7 ._55r-{-webkit-box-sizing:border-box;padding-left:10px}
.finch ._42hd{background-color:#f6f7f8;border-top:1px solid #e9eaed}
._42he{border:1px solid #bdc7d8;overflow:hidden;padding:4px}
.finch ._42he{border:none;padding:12px}
._57xu{border-bottom:1px solid #e9eaed;-webkit-box-sizing:border-box;display:block;height:auto;padding:0 0 2px 0;width:100%}
._57xv{margin-left:8px;position:relative;top:-4px}
._44v{width:auto !important}
._564_{padding-right:5px;position:relative;top:2px}
._3cgp{border:solid 1px #ddd;float:right;margin:4px;padding:2px;right:15px}
.timelinePageMostRecentLabel{border-color:#e9e9e9;border-style:solid;border-width:0 0 1px 0;padding-bottom:8px}
.timelineUnitContainer div.profile-pagelet-section{margin-bottom:0}
ul.pageMostRecentPostList > li{border-color:#e9e9e9;margin:0 5px;padding-left:0;padding-right:0}
.timelineUnitContainer .pageMostRecentPostList{margin-bottom:0}
.pageMostRecentPostList .uiStreamStory .mainWrapper{margin:0;padding-top:0}
.fbTimelineUnit .pageMostRecentPostList .uiStreamStory .mainWrapper{padding-top:0}
.pageMostRecentPostList .uiStreamStory .actorPhoto{margin-top:0;margin-bottom:0;padding-top:0}
.pageMostRecentPostList .pageOneLine .messageBody{overflow:hidden;max-width:300px;text-overflow:ellipsis;white-space:nowrap;display:block}
.pageMostRecentPostList .storyContent .storyInnerContent{margin-left:45px}
.pageMostRecentPostList li:hover{background:#edeff4;-webkit-border-radius:2px;border-top-color:#edeff4;cursor:pointer;margin:0;padding-left:5px;padding-right:5px;position:relative;z-index:1}
.pageMostRecentPostList .uiStreamStory .uiStreamHide{margin-right:5px;margin-top:0}
ul.pageMostRecentPostList .uiStreamStory:hover .uiStreamHide .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory .uiStreamHide .openToggler .uiSelectorButton, ul.pageMostRecentPostList .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .openToggler .uiSelectorButton{position:relative}
.pageMostRecentPostList .uiStreamMessage .actorDescription{padding:0}
.pageMostRecentPostList .uiStreamStory .recentStoryText{margin:2px 0}
.pageMostRecentPostList .uiStreamStory .tlPageStoryAttachment{margin-bottom:-2px}
.pageMostRecentPostList .uiBlingBox, .pageMostRecentPostList .uiBlingBox:hover{border-bottom:0}
.fbTimelineUnit .timelineUnitContainer .pageMostRecentPostList .uiStreamStory .storyInnerContent{margin-left:39px}
.tlPagesTipsLabel{padding-bottom:8px}
.tlPagesTipsForm, .tlPagesTipsSection{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0 0}
.tlPagesTipsForm{padding:5px 0}
.tlPagesTipsList li{margin:0 5px;padding:7px 0 5px 0;position:relative}
.tlPagesTipsList li .uiUfi{display:none}
.tlPagesTipsList li .UFIBlingBox{margin-left:5px}
.tlPagesTipsList li .UFIBlingBox:empty{margin:0;padding:0}
.tlPagesTipsList li a, .tlPagesTipsList li button{position:relative;z-index:1}
.tlPagesTipsList li a.overlayLink{display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:0}
.tlPagesTipsList .uiBlingBox:hover, .tlPagesTipsList .uiBlingBox{border-bottom:0}
.timelineUnitContainer .tlPagesTipsList{margin-bottom:0}
.timelineUnitContainer .tlPagesTipsList .tlPagesTipsMorePager{border-top:0;padding:0;margin:0}
.tlPagesTipsList li:hover{background:#edeff4;-webkit-border-radius:2px;border-top-color:#edeff4;cursor:pointer;margin:0 0 -1px 0;padding:5px 5px 6px 5px;position:relative;z-index:1}
.tlPagesTipsList .tipsCloseButton{z-index:1}
.tipsCloseButton .tipsEditButton{background-image:url(/rsrc.php/v2/yh/r/rkQF27utoCR.png)}
.tipsCloseButton .uiCloseButton, .tipsCloseButton.uiCloseButton{opacity:0;position:absolute;right:5px;top:5px}
.fbPagesTipsInner{position:relative}
.fbPagesTipsRating{padding-top:2px}
.tipsCloseButton .openToggler .uiCloseButton, .tlPagesTipsList li:hover .tipsCloseButton .uiCloseButton, .tlPagesTipsList li:hover .tipsCloseButton.uiCloseButton, .fbPageTips:hover .tipsCloseButton .uiCloseButton, .fbPageTips:hover .tipsCloseButton.uiCloseButton{opacity:1}
.nonAdminInviteContainer{margin-bottom:12px;margin-top:8px;width:420px}
.nonAdminInviteContainer .uiScrollableAreaContent{border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;border-top:1px solid #f2f2f2}
.nonAdminInviteContainer .adminTipFriendList li{border-bottom:1px solid #f2f2f2;padding:4px 5px 4px 2px;text-decoration:none}
.nonAdminInviteContainer .adminTipFriendList li:hover{background-color:#e7ebf2}
.nonAdminInviteContainer .adminTipFriendList .name{margin:8px 0}
.nonAdminInviteContainer .adminTipFriendList .button{margin:2px 0}
.nonAdminInviteContainer .adminTipFriendList .hideButton{margin:6px 4px}
.nonAdminInviteContainer .adminTipFriendList li.yellow{background:#fff9d7}
.nonAdminInviteContainer .uiScrollableArea{margin-top:15px}
.adminTipFriendList .profileBlock{padding-left:2px}
.fbPrivacyWidget .UIPrivacyTargetedWidget .uiSelectorButton .customimg{margin:0 2px 0 -2px}
.fbPrivacyWidget .UIPrivacyTargetedWidget .uiSelectorButton.uiButtonNoText .customimg{margin-right:-5px}
.fbPrivacyWidget .uiSelectorButton .customimg{margin:2px -4px 2px -1px}
.fbTimelineBoxCount{background-color:#e7eaf2;color:#6d84b4;display:inline-block;font-size:24px;font-weight:bold;height:61px;line-height:61px;text-align:center;text-decoration:none;text-indent:-3px;vertical-align:middle;width:61px}
.fbTimelineBoxHighCountFriends{font-size:19px}
.fbTimelineBoxSuperHighCountFriends{font-size:16px}
.fbTimelineBoxSummarizedCountFriends{font-size:13px}
.fbTimelineOneColumn .fbTimelineBoxCountFriends,
.fbTimelineOneColumn .fbTimelineBoxHighCountFriends,
.fbTimelineOneColumn .fbTimelineBoxSuperHighCountFriends,
.fbTimelineOneColumn .fbTimelineBoxSummarizedCountFriends{width:79px;height:79px;line-height:79px}
.fbTimelineOneColumn .fbTimelineBoxCountFriends{font-size:28px}
.fbTimelineOneColumn .fbTimelineBoxHighCountFriends{font-size:24px}
.fbTimelineOneColumn .fbTimelineBoxSuperHighCountFriends{font-size:22px}
.fbTimelineOneColumn .fbTimelineBoxSummarizedCountFriends{font-size:20px}
.fbTimelineBoxCountPosts,
.fbTimelineBoxHighCountPosts,
.fbTimelineBoxSuperHighCountPosts,
.fbTimelineBoxSummarizedCountPosts{width:64px;height:64px;line-height:64px}
.fbTimelineBoxCountPosts{font-size:30px}
.fbTimelineBoxHighCountPosts{font-size:26px}
.fbTimelineBoxSuperHighCountPosts{font-size:20px}
.fbTimelineBoxSummarizedCountPosts{font-size:14px}
.fbTimelineBoxCountCheckinlarge,
.fbTimelineBoxHighCountCheckinlarge,
.fbTimelineBoxSuperHighCountCheckinlarge,
.fbTimelineBoxSummarizedCountCheckinlarge{width:70px;height:70px;line-height:70px}
.fbTimelineBoxCountCheckinlarge{font-size:30px}
.fbTimelineBoxHighCountCheckinlarge{font-size:28px}
.fbTimelineBoxSuperHighCountCheckinlarge{font-size:24px}
.fbTimelineBoxSummarizedCountCheckinlarge{font-size:22px}
.fbTimelineBoxCountCheckin,
.fbTimelineBoxHighCountCheckin,
.fbTimelineBoxSuperHighCountCheckin,
.fbTimelineBoxSummarizedCountCheckin{width:54px;height:54px;line-height:54px}
.fbTimelineBoxCountCheckin{font-size:26px}
.fbTimelineBoxHighCountCheckin{font-size:24px}
.fbTimelineBoxSuperHighCountCheckin{font-size:22px}
.fbTimelineBoxSummarizedCountCheckin{font-size:20px}
.fbTimelineBoxCountPostsdouble,
.fbTimelineBoxHighCountPostsdouble,
.fbTimelineBoxSuperHighCountPostsdouble,
.fbTimelineBoxSummarizedCountPostsdouble{width:85px;height:85px;line-height:85px}
.fbTimelineBoxCountPostsdouble{font-size:36px}
.fbTimelineBoxHighCountPostsdouble{font-size:34px}
.fbTimelineBoxSuperHighCountPostsdouble{font-size:28px}
.fbTimelineBoxSummarizedCountPostsdouble{font-size:22px}
.fbTimelineBoxCount:first-letter{font-size:.9em;vertical-align:2px}
.fbTimelineBoxCountPagefriendsummary,
.fbTimelineBoxHighCountPagefriendsummary,
.fbTimelineBoxSuperHighCountPagefriendsummary,
.fbTimelineBoxSummarizedCountPagefriendsummary{height:37px;line-height:36px;text-indent:0;width:37px}
.fbTimelineBoxCountPagefriendsummary{font-size:18px}
.fbTimelineBoxHighCountPagefriendsummary{font-size:16px}
.fbTimelineBoxSuperHighCountPagefriendsummary{font-size:14px}
.fbTimelineBoxSummarizedCountPagefriendsummary{font-size:12px}
.timelineReportContainer > .editControls{overflow:hidden;position:absolute;right:10px;top:10px;width:1px;z-index:3}
.timelineUnitContainer .editControls{overflow:hidden;position:absolute;right:10px;top:10px;width:1px;z-index:3}
.timelineReportContainer:hover > .editControls, .timelineUnitContainer:hover .editControls, .timelineUnitContainer .editControlsMenuOpen, .timelineUnitContainer .uiButtonGroupActive, .timelineUnitContainer .editControls.async_saving{overflow:visible;width:auto}
.editControls .curationWrapper{margin-left:1px}
.stupidHeart{display:none}
.timelineUnitContainer:hover .stupidHeart{display:block}
.timelineUnitContainer .editControls form{display:inline}
.timelineReportContainer .editControls{top:1px}
.timelineUnitContainer .globalMusicReport{top:5px}
.pageFriendSummaryContainer .headerDigit{float:left;font-size:30px;color:#3b5998;margin-right:6px}
.pageFriendSummaryContainer .headerText{line-height:1.2;padding-top:5px}
.pageFriendSummaryContainer .friendInviteHeaderText{font-weight:bold;line-height:1.2;overflow:hidden;padding-top:5px;text-overflow:ellipsis;width:270px}
.nonAdminInviteContainer.standaloneFriendInviteContainer{margin-top:0}
.pageFriendSummaryContainer .standaloneFriendInviteContainer .innerLink{border-color:#e9e9e9;border-style:solid;border-width:0 0 1px 0;font-weight:normal;margin-top:0;padding-bottom:8px}
.standaloneFriendInviteContainer .friendInviteHeaderText{color:gray;font-weight:normal}
.pageFriendSummaryContainer .headerTextLink{line-height:1.2;padding-top:5px}
.pageFriendSummaryContainer .uiTokenizer{overflow:hidden}
.pageFriendSummaryContainer .inviteButton{margin-left:5px;padding-left:10px;padding-right:10px}
.fbTimelineCapsule div.pageFriendSummaryContainer{padding-top:10px}
.pageFriendSummaryContainer .header{border-bottom:1px solid #e5e5e5;padding-bottom:2px}
.pageFriendSummaryContainer .innerLink{margin-top:5px;padding:0 0;width:380px}
.fbPageFriendSummaryFacepile .bigPic{height:75px;width:75px}
.fbPageFriendSummaryFacepile .smallPic{height:37px;width:37px}
.fbPageFriendSummaryFacepile .pic{display:block;float:left}
.fbPageFriendSummaryFacepile .innerPic{padding-right:1px}
.fbPageFriendSummaryFacepile.onlyFacepile{padding-top:3px}
.fbPageFriendSummarySection.needsBorder{border-bottom:1px solid #e5e5e5;padding-bottom:3px}
.fbPageFriendSummarySection .friendMusicReport{margin-top:3px}
.fbPageFriendSummarySection .friendMusicReport .topSongs{border-top:1px solid #e5e5e5}
.fbPageFriendSummarySection .friendMusicReport .topSongs .topSongsContent{padding:0}
.timelinePageLikedPagesLabel{border-color:#e9e9e9;border-style:solid;border-width:0 0 1px 0;padding-bottom:8px}
.fbTimelineMoreButton:hover{text-decoration:none}
.fbTimelineMoreButton .detail{background:#f1f3f8}
.fbTimelineMoreButton .fbTimelineRibbon{background-color:#fff;border:1px solid #a6a6a6;margin-top:-9px;margin-left:-3px;position:absolute;top:50%}
.fbTimelineMoreButton .fbTimelineRibbon .text{background-image:url(/rsrc.php/v2/yu/r/2HyXe3NzW7v.png);background-repeat:no-repeat;background-position:100% 4px;color:#3b5998;padding-right:10px}
.fbTimelineMoreButtonOpen .fbTimelineRibbon{background-image:url(/rsrc.php/v2/yH/r/4XIgl9BFyKj.png);background-repeat:no-repeat;background-position:8px center}
.fbTimelineMoreButtonZero .fbTimelineRibbon .text{background-image:url(/rsrc.php/v2/y-/r/uSW1KWtrWGc.png);background-repeat:no-repeat;background-position:4px center;height:14px;width:8px}
.async_saving .fbTimelineRibbon .text, .fbTimelineMoreButtonOpen .fbTimelineRibbon .text{visibility:hidden}
.async_saving .fbTimelineRibbon{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right}
#fbTimelineNavigationLoadContainer{bottom:-999px;height:1px;left:-999px;overflow:hidden;position:absolute;position:fixed;visibility:hidden;width:-1px}
.fbTimelineNavigationPagelet{min-height:121px}
.pagesTimelineLayout .fbTimelineNavigationPagelet{min-height:130px}
.fbEditCover .fbTimelineNavigationWrapper{display:none}
.fbTimelineNavigation{height:121px;overflow:hidden;position:relative}
.fbTimelineNavigation #fbTimelineNavTopRow{margin-top:12px}
.pagesTimelineLayout .fbTimelineNavigation #fbTimelineNavTopRow{margin-top:21px}
.fbTimelineNavigation li{float:left;display:block;position:relative}
.fbTimelineNavigation li.empty{overflow:visible}
.fbTimelineNavigation li .tab{display:block;height:110px;padding-left:6px;width:113px}
.fbTimelineNavSecondaryRow{display:block;float:right;margin-right:45px}
.fbTimelineNavigation #fbRecentAppTitle{border-bottom:2px solid #d9d9d9;color:#a6a6a6;display:block;height:7px;margin:0 45px 15px 335px;text-align:center;text-transform:uppercase;width:468px}
.fbTimelineNavigation #fbRecentAppTitleText{background:#fff}
.fbTimelineNavigationWrapper .title{display:block;height:17px;line-height:17px;overflow:hidden;padding-top:4px}
.fbTimelineNavigationWrapper .title span{display:inline-block;height:17px;-webkit-transition:all .29s ease-in-out;vertical-align:top}
.fbTimelineNavigationWrapper .title .icon{height:16px;margin:1px 5px 0 -20px;width:16px}
.fbTimelineNavigationWrapper .title .text{color:#3b5998;overflow:hidden;text-overflow:ellipsis;max-width:111px;white-space:nowrap}
.fbTimelineNavigationWrapper .title .count{color:#999;opacity:1;padding-left:3px}
.fbTimelineNavigationWrapper .expanded .title .icon{margin-left:1px}
.fbTimelineNavigationWrapper .expanded .title .text{max-width:90px}
.fbTimelineNavigationWrapper .expanded .title .count{opacity:0}
.fbTimelineNavigationWrapper li.leftMost{margin-left:328px}
.fbTimelineNavigationWrapper a.title:hover, .fbTimelineNavigationWrapper a.seemore:hover, .fbTimelineNavigationWrapper a.tab:hover, .fbTimelineNavigationWrapper a:hover .title{text-decoration:none}
.fbTimelineNavigationWrapper a.seemore .notready, .fbTimelineNavigationWrapper a.seemore .notready{padding:5px}
.fbTimelineNavigationWrapper a.seemore:hover .notready, .fbTimelineNavigationWrapper a.seemore:active .notready{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right}
.fbTimelineNavigationWrapper .detail{background-color:#f1f3f8;border:1px solid white;-webkit-border-radius:3px;height:74px;overflow:hidden}
.fbTimelineNavigationWrapper .frame{border:1px solid #fff;-webkit-border-radius:3px;overflow:hidden}
.fbTimelineNavigationWrapper .frame .mat, .fbTimelineNavigationWrapper .friendshipAbout .detail{border:1px solid #e5e7eb;-webkit-border-radius:2px;height:70px;overflow:hidden;padding:1px}
.fbTimelineNavigationWrapper li.about:hover .frame, .fbTimelineNavigationWrapper li:hover .tab .frame, .fbTimelineNavigationWrapper a:hover .frame{border-color:#97a4c2}
.fbTimelineNavigationWrapper li.about:hover .frame .mat, .fbTimelineNavigationWrapper li:hover .tab .frame .mat, .fbTimelineNavigationWrapper a:hover .frame .mat{border:2px solid white;padding:0}
.fbTimelineNavigationWrapper .tab .frame, .fbTimelineNavigationWrapper .tab .detail{width:111px}
.fbTimelineNavigationWrapper .tab .frame{position:absolute;width:111px;margin-top:-76px}
.fbTimelineNavigationWrapper .friends .frame{pointer-events:none}
.fbTimelineNavigationWrapper .tab .frame .mat{border-color:#d9d9d9;border-color:rgba(0, 0, 0, .15);width:107px}
#contentArea .fbTimelineNavigationWrapper .seemore .frame, #contentArea .fbTimelineNavigationWrapper .seemore .frame .mat{border-right:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;margin-right:0;padding-right:0}
#contentArea .fbTimelineNavigationWrapper .about .frame, #contentArea .fbTimelineNavigationWrapper .about .frame .mat, .fbTimelineNavigationWrapper .friendshipAbout .detail{border-left:0;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;margin-left:0;padding-left:0}
.fbTimelineNavigationWrapper .tab .fbTimelineRibbon{margin-left:-3px;margin-top:-46px;position:absolute}
.fbTimelineNavigationWrapper .empty .tab .detail{background-color:#f1f3f8}
.fbTimelineNavigationWrapper .edit_nub{-webkit-border-radius:2px;-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, .1);display:none;padding:1px;position:absolute;right:-4px;text-align:center;top:-4px}
div.fbTimelineNavigationWrapper .edit_nub .icon, div.fbTimelineNavigationWrapper .edit_nub .icon:hover{background-image:none;-webkit-border-radius:1px;display:block;padding:2px 5px;width:10px}
.fbTimelineNavigationWrapper .expanded .edit_nub.openToggler, .fbTimelineNavigationWrapper .expanded li:hover .edit_nub{display:block}
.fbTimelineNavigationWrapper .expanded li .add .edit_nub{display:block}
.fbTimelineNavigationWrapper .seemore{display:block;position:absolute;left:811px;top:12px}
.pagesTimelineLayout .fbTimelineNavigationWrapper .seemore{top:21px}
.fbTimelineNavigationWrapper .seemore, .fbTimelineNavigationWrapper .seemore .frame{width:37px}
.fbTimelineNavigationWrapper .seemore .title{display:none}
.fbTimelineNavigationWrapper .about{cursor:pointer;height:108px;margin:0;width:328px}
.fbTimelineNavigationWrapper .about .friendshipAbout{cursor:default;height:112px}
.fbTimelineNavigationWrapper .detail .placeholder{display:block;margin-top:21px;text-align:center}
.fbTimelineNavigationWrapper .detail .applogo{padding:0 18px}
.fbTimelineNavigation .following .detail .face, .fbTimelineNavigation .friends .detail .hovercard_trigger, .fbTimelineNavigation .friends .detail .friend{display:block;float:left;height:37px;width:37px}
.fbTimelineNavigation .friends .detail{overflow:visible}
.fbTimelineNavigation .friends .detail .hovercard_trigger:focus{position:relative}
.fbTimelineNavigation .events .event, .fbTimelineNavigation .notes .note, .fbTimelineNavigation .photos .photo, .fbTimelineNavigation .followers .subscriber, .fbTimelineNavigation .following .subscription, .fbTimelineNavigation .menu .menu_photo, .fbTimelineNavigation .videos .video{background-color:#eceff5;background-size:cover;display:block;height:74px;text-align:left;width:111px}
.fbTimelineNavigation .notes .note{background:url(/rsrc.php/v2/yn/r/GC70uON4H3j.png) left top no-repeat;height:74px;overflow:hidden}
.fbTimelineNavigation .notes .note .content{color:#444;height:62px;line-height:15px;margin:9px 0 0 12px;overflow:hidden;white-space:normal;width:130px}
.fbTimelineNavigation .notes .note .name{font-weight:bold;max-height:30px;overflow:hidden}
.fbTimelineNavigation .places .placeName{color:#333;left:0;overflow:hidden;padding:0 4px;position:absolute;text-align:left;text-overflow:ellipsis;text-shadow:#fff 1px 1px 1px, #fff -1px 1px 1px, #fff 1px -1px 1px, #fff -1px -1px 1px;top:58px;white-space:nowrap;width:106px}
.fbTimelineNavigation .music .img{float:left}
.fbTimelineNavigation .favorites .detail .panel{float:left;width:56px;overflow:hidden}
.fbTimelineNavigation .favorites .detail .first{width:55px}
.fbTimelineNavigation .favorites .detail .liked{height:74px;min-width:56px}
.fbTimelineNavigation .loading .dots{display:inline}
.fbTimelineNavigation .dots{display:none;font-weight:normal;vertical-align:top}
.fbTimelineNavigation .appimage{background-color:#f2f3f8;background-position:center center;background-repeat:no-repeat;display:block;height:74px;width:111px}
.fbTimelineNavigation .followers .statsContainer{background-image:url(/rsrc.php/v2/ye/r/-4WovPf3lNu.png);background-repeat:no-repeat;background-size:auto;background-position:0 -19px;height:74px;width:100%}
.fbTimelineNavigation .followers .stats span, .fbTimelineNavigation .groups .stats, .fbTimelineNavigation .likes .stats{color:#1c2a47;font-size:30px}
.fbTimelineNavigation .likes .statsContainer, .fbTimelineNavigation .groups .statsContainer{background-color:#f1f3f8;height:74px;width:100%}
.fbTimelineNavigation .likes .frame .mat{border-color:#e5e7eb}
.fbTimelineNavigation .likes .stats{background:url(/rsrc.php/v2/yN/r/jZBV2CzYMZK.png) left no-repeat;font-size:24px;padding-left:32px}
.fbTimelineNavigation .groups .stats{background:url(/rsrc.php/v2/yg/r/iU2SxiWMuUc.png) left no-repeat;font-size:24px;padding-left:34px}
.fbTimelineNavigation .mapSubtitle{background-color:#f9f9f9;background-color:rgba(231, 230, 229, .6);color:#333;font-size:10px;margin:0 4px 0 4px;padding:2px 0 1px 0;position:relative;text-align:center;text-overflow:ellipsis;text-shadow:1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;top:-21px;overflow:hidden;white-space:nowrap}
.fbTimelineFilters{padding-bottom:1px;position:relative;text-align:center}
.fbTimelineFilters #fbTimelinePagesFilterSelectorButton{-webkit-border-radius:4px;border:1px solid #c3cce0;background:#e8ecf2 url(/rsrc.php/v2/y5/r/ZWvAgFWgfHn.png) no-repeat right 9px;color:#c3cce0;padding-right:19px}
.fbTimelineFilters .openToggler #fbTimelinePagesFilterSelectorButton{border:1px solid #3b5998;border-bottom:1px solid #777;background:#6d84b4 url(/rsrc.php/v2/yn/r/gfx8S-0T_FA.png) no-repeat right 10px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;padding-right:19px}
.fbTimelineFilters #fbTimelinePagesFilterSelectorButton .uiButtonText{color:#a1a1c1;font-weight:normal;padding:2px}
.fbTimelineFilters .openToggler #fbTimelinePagesFilterSelectorButton .uiButtonText{color:#fff;font-weight:normal;padding:2px}
.fbTimelineFilters .uiSelectorMenuWrapper{text-align:left}
.fbTimelineRibbon{background:#6d84b4;border:1px solid #6d84b4;border-color:rgba(0, 39, 121, .77);-webkit-border-radius:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .15);padding:1px 4px}
.fbTimelineRibbon .text{color:#fff;font-weight:bold;line-height:14px;vertical-align:top}
.fbTimelineViewingSelf .fbTimelineUnit:hover > .timelineUnitContainer, .fbTimelineViewingSelf .fbTimelineUnit:hover > .timelineReportContainer, .fbTimelineViewingSelf #pagelet_timeline_ego_box:hover .timelineUnitContainer{border-color:#97a4c2}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .topBorder{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:-412px -9px}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .bottomBorder{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:0 -9px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .topBorder{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .bottomBorder{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.fbTimelineViewingSelf .fbTimelineTwoColumn:hover .spinePointer{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:-206px -27px}
.fbTimelineViewingSelf .fbTimelineOneColumn:hover .spinePointer{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:-170px -27px}
.fbTimelineViewingSelf .leftColumn:hover .spinePointer, .fbTimelineViewingSelf .fbTimelineUnit[data-side="l"]:hover .spinePointer{background-image:url(/rsrc.php/v2/yZ/r/Gp_tRWAgZ0c.png);background-repeat:no-repeat;background-size:auto;background-position:-186px -27px}
.fbTimelineSummarySection{padding:3px 0 0 26px}
.fbTimelineSummarySection .fbProfileBylineFragment{color:#333;display:block;line-height:16px;overflow:hidden;padding-left:16px;text-overflow:ellipsis;white-space:nowrap}
.fbTimelineNavigationWrapper .edit{background-color:#f1f3f8;border:1px solid #fff;-webkit-border-radius:3px;margin-bottom:2px;padding-bottom:2px}
.fbTimelineSummarySection .edit .fbProfileBylineFragment .fbProfileBylineIconContainer{display:none}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment{border:1px solid #f1f3f8;cursor:move;line-height:15px}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment a:hover{cursor:move;text-decoration:none}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineFragment:hover{border-color:#97a4c2}
.fbTimelineSummarySectionWrapper:hover .fbTimelineEditSummaryLink{display:block}
.fbTimelineEditSummaryLink{display:none;position:absolute;right:5px;top:5px}
.fbTimelineSummarySectionWrapper .edit .fbProfileBylineIconContainer .img{display:none}
.fbTimelineSummarySection .fbProfileBylineIconContainer .img{left:26px;position:absolute}
.fbTimelineSummarySection .fbProfileBylineFragment .uiLoadingIndicatorAsync{margin-left:5px}
.fbTimelineSummarySectionWrapper .title{display:inline;padding-left:43px}
.fbTimelineSummarySectionWrapper .page_suggest_link.showonhover{display:none}
.fbTimelineSummarySectionWrapper:hover .page_suggest_link.showonhover, .fbTimelineSummarySectionWrapper .page_suggest_link{display:inline}
.fbTimelineSummarySectionWrapper .page_suggest_link a:hover{text-decoration:none}
.fbTimelineSummarySection span.fbLongBlurb{color:#333;overflow:hidden;display:block;line-height:16px;white-space:normal}
.fbTimelineSummarySection .fbProfileNonIconBylineFragment{color:#333;display:block;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbTimelineSummarySection .pageEmptyAbout{margin-top:16px}
.fbProfileBylineFragment .fbProfileBylineLabel .abridgedFragment{width:260px;overflow:hidden;text-overflow:ellipsis}
.uiBackgroundBar, ._mq{position:relative}
._mr{background:#e7ebf2;height:100%;position:absolute}
.uiDataTable{border-bottom:solid 1px #a6a6a6;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05);color:#000;width:100%}
.uiDataTable th{background:#eee url(/rsrc.php/v2/yj/r/epnsA9GpSGe.png) repeat 0 0;border:solid 1px #999;border-bottom-color:#888;border-right:none;line-height:normal;vertical-align:middle;white-space:nowrap}
.uiDataTable .lastColumn{border-right:solid 1px #999}
.uiDataTable .right{text-align:right}
.uiDataTable .columnLabel{color:#333;display:inline-block;font-weight:bold;padding:3px 6px 4px}
.uiDataTable .sortable{cursor:pointer;display:block;text-decoration:none;width:100%}
.uiDataTable .sortable .columnLabel{margin-right:13px}
.uiDataTable .right .sortable .columnLabel{margin-left:13px;margin-right:0}
.uiDataTable .sortedAsc .sortable .columnLabel, .uiDataTable .sortedDesc .sortable .columnLabel{margin:0}
.uiDataTable .sortable:active{background:#ddd;border-bottom:solid 1px #999;margin-bottom:-1px}
.uiDataTable .asc, .uiDataTable .desc{display:none}
.uiDataTable .sortedAsc .asc, .uiDataTable .sortedDesc .desc{display:inline-block;margin:0 6px 1px -2px}
.uiDataTable td{border-left:solid 1px #fbfbfb;padding:6px 7px}
.uiDataTable .odd td{background-color:#f2f2f2}
.uiDataTable .clickableRow:hover td{background-color:#d8dfea;cursor:pointer}
.uiDataTable .selectedRow td, .uiDataTable .selectedRow:hover td{background-color:#657ba7;border-left:solid 1px #657ba7}
.uiDataTable .hidden{display:none}
.uiDataTable .firstRow{border-left:solid 1px #bbb}
.uiDataTable .lastRow{border-right:solid 1px #bbb}
.uiDataTable thead tr.noticeBanner td{background:#f2f2f2 url(/rsrc.php/v2/yc/r/gI-4YTquzXv.png) repeat-x;border:1px solid #bbb;border-top:none;padding:32px;text-align:left}
.uiDataTable tr.noticeBanner:hover td{background-color:#f2f2f2}

#bootloader_080oJ { height: 42px; }
.bootloader_080oJ { display:block !important; }